<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= button_to 'Edit', edit_user_path(@user) %> |
<%= button_to 'Back', users_path %>
